aiofiles
aiohttp
infinistore
msgspec
nixl==0.2.0
numpy
nvtx
prometheus_client >= 0.18.0
psutil
pyyaml
pyzmq >= 25.0.0
redis
safetensors
sortedcontainers

# Should correspond to the version used by latest vLLM package
# This may not be the version as specified in vLLM `main` branch
# Check using `pip show vllm` command
torch==2.6.0

transformers >= 4.51.1
