aiofiles
aiohttp
infinistore
msgspec
nixl==0.2.0
numpy
nvtx
prometheus_client >= 0.18.0
psutil
pyyaml
pyzmq >= 25.0.0
redis
safetensors
sortedcontainers
torch==2.7.0 # Should correspond to the version used by latest vLLM package
transformers >= 4.51.1
