# Should be mirrored in pyproject.toml
cmake>=3.26
jinja2
ninja
packaging>=24.2
setuptools>=77.0.3,<80.0.0
setuptools_scm>=8
torch==2.6.0 # Should correspond to the version used by latest vLLM package
wheel
